{% extends 'base.html.twig' %}

{% block title %}Swift Transfer - Log in{% endblock %}

{% block body %}


<div class="flex flex-col items-center">
    <h1 class="text-3xl text-center w-full my-16">Log in Swift Transfer</h1>
    <form method="post" class="w-full max-w-md p-8 bg-white shadow-md rounded-2xl text-lg overflow-y-auto">
        {% if error %}
            <div class="text-md text-red-500 text-center mb-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="inputEmail">Email</label>
            <input type="email" placeholder="Enter an email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500" autocomplete="email" required autofocus>
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 font-bold mb-2" for="inputPassword">Password</label>
            <input type="password" placeholder="Enter a password" name="password" id="inputPassword" class="form-control block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="flex items-center justify-between mb-6">
            <label class="flex items-center">
                <input type="checkbox" class="accent-purple-950 form-checkbox" name="_remember_me">
                <span class="ml-2 text-gray-600">Remember me</span>
            </label>
        </div>

        <button class="w-full flex justify-center py-2 px-4 border-2 border-purple-950 rounded-md shadow-sm font-medium text-purple-950 bg-transparent hover:bg-purple-950 hover:border-purple-950 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500" type="submit">
            Log In
        </button>
    </form>
</div>

{% endblock %}
