{% extends 'base.html.twig' %}

{% block title %}Swift Transfer - Home{% endblock %}

{% block body %}
<div class="text-center text-3xl mt-4 h-dvh">
    Hello {{ app.user.displayedName}}
</div>
{% endblock %}
