{% extends 'base.html.twig' %}

{% block title %}Swift Transfer - Notifications{% endblock  %}

{% block body %}

<h1 class="text-3xl text-center mt-16">Notifications</h1>
<div class="flex justify-center items-center mt-16 bg-gray-100">
    <div class="w-full max-w-md p-8 bg-white shadow-md rounded-2xl text-lg">
        {% if notifications|length == 0 %}
            <div class="text-center">You do not have notification<div/>
        {% else %}
            <ul>
            {% for n in notifications | reverse %}
                <li>
                    <div  {{ react_component('NotificationDisplay', {
                        'id' : n.id,
                        'type' : n.type,
                        'content' : n.content,
                    })}}>
                    </div> 
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
