{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<h1 class="text-3xl text-center mt-16">Notifications</h1>
<div class="flex justify-center items-center mt-16 bg-gray-100">
    <div class="w-full max-w-md p-8 bg-white shadow-md rounded-2xl text-lg">
        {% if notifications|length <0%}
            No notifications
        {% else %}
            <ul>
            {% for n in notifications %}
                <li>
                    <div  {{ react_component('NotificationDisplay', {
                        'id' : n.id,
                        'type' : n.type,
                        'content' : n.content,
                        'read' : n.read
                    })}}>
                    </div> 
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

 <script>
// let btnToggle = document.querySelectorAll('button.showNotifications');
// console.log()
// if(btnToggle){
    
//     if(Array.isArray(btnToggle)){
//         for(b of btnToggle){
//             b.addEventListener('click', (e)=>{
//                 notification = e.target.parentNode.nextElementSibling;
//                 notification.classList.toggle('hidden');
//             })
//         }
//     }else{
//         btnToggle.addEventListener('click', (e)=>{
//             console.log(e.target.parentNode);
//             notification = e.target.parentNode.nextElementSibling;
//             notification.classList.toggle('hidden');
//         })
//     }

// }
 </script>
{% endblock %}
