{% extends 'base.html.twig' %}

{% block title %}Hello SendController!{% endblock %}

{% block body %}

<div>

    {{ form_errors(sendForm) }}

    {{ form_start(sendForm) }}
        <div {{ react_component('SearchBar') }}></div>
        <input type="hidden" id="reactField" name="form[reactField]" />
    {{ form_end(sendForm) }}

</div>
{% endblock %}
