{% extends 'base.html.twig' %}

{% block title %}Hello SendController!{% endblock %}

{% block body %}

<div>
    <h1>{{ balance }}</h1>

    {{ form_errors(transactionForm) }}

    {{ form_start(transactionForm) }}

    <input class="cursor-pointer btn btn-primary bg-purple-950 text-white px-5 py-1 rounded-lg " type="submit"> Send </input>
    {{ form_end(transactionForm) }}

</div>
{% endblock %}
