{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    <div class="h-screen flex items-center justify-center" {{ react_component('SearchBar', { 'test' : 'moi'}) }}>

    </div>
{% endblock %}
