{% extends 'base.html.twig' %}

{% block title %}Group index{% endblock %}

{% block body %}
    <div id="showContact">
    Your groups :

    {% if groups is null %}
        <p>You don't have any contacts</p>
    {% else %}
        <ul>
        {% for group in groups %}
            <li>{{ group.name }}<li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}
