{% extends 'base.html.twig' %}
{% block title %}Swift Transfer{% endblock %}
{% block body %}
    <div class="container mx-auto my-16 px-4 flex-grow">
        <div class="flex flex-row w-full">
            <div class="mr-4 w-full lg:w-2/3">
                <h1 class="text-5xl mt-8 mb-6 font-medium">Swift Transfer</h1>
                <p class="text-xl mb-4">Welcome to the new era of simplified money transfers. With SwiftTransfer you have the power to send money to your friends, family, or colleagues in just a few clicks, wherever you are in the world.</p>
                <div class="flex justify-center my-16">
                    <button class="bg-purple-950 text-white px-16 pb-2 pt-1 rounded-lg text-3xl font-medium">
                        <a href="{{ path('app_register') }}">Start now !</a>
                    </button>
                </div>
            </div>
            <div class="ml-2 w-1/3 hidden lg:block flex items-center justify-center">
                <img class="w-full h-auto" src="{{ asset('build/images/front_img.png') }}" alt="Swift Transfer">
            </div>
        </div>
        <div class="mt-16">
            <h2 class="text-3xl font-medium mb-4">Why Choose Us</h2>
            <div class="flex flex-wrap space-x-4">
                <div class="bg-purple-500 text-white py-6 px-4 rounded-lg shadow-md flex-1 h-64 overflow-y-auto">
                    <h3 class="text-xl font-semibold mb-6">Simplified Money Transfers</h3>
                    <p>
                        With our intuitive interface, send money to anyone within seconds. No more relying on slow and costly money transfer methods. SwiftTransfer makes money transfers fast and hassle-free.
                    </p>
                </div>
                <div class="bg-purple-500 text-white p-6 rounded-lg shadow-md flex-1 h-64 overflow-y-auto">
                    <h3 class="text-xl font-semibold mb-6">Financial Social Network</h3>
                    <p>
                        Connect with your friends, family, and colleagues. Add them as contacts for even simpler money transfers. Create groups to share common expenses, like outings with friends, group gifts, or fundraising.
                    </p>
                </div>
                <div class="bg-purple-500 text-white p-6 rounded-lg shadow-md flex-1 h-64 overflow-y-auto">
                    <h3 class="text-xl font-semibold mb-6">Exceptional Customer Support</h3>
                    <p>
                        Our support team is here to assist you every step of the way. If you have any questions, concerns, or need assistance, we're just a click or call away from providing you with personalized support.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
