{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="mx-32 my-16">
        <div class="flex flex-row">
            <div>
                <h1 class="text-5xl">Swift Transfer</h1>
                <p class="text-xl">Welcome to the new era of simplified money transfers. With SwiftTransfer you have the power to send money to your friends, family, or colleagues  in just a few clicks, wherever you are in the world.</p>
                <div class="text-xl">
                    <input type="text">
                    <button class="btn btn-primary">Send</button>
                </div>
            </div>

            <img src="https://img.freepik.com/vecteurs-libre/concept-collegues-design-plat-pour-page-destination_23-2148296956.jpg">
        </div>
    </div>
{% endblock %}
