{% extends 'base.html.twig' %}

{% block body %}
    <div class="mx-32 my-16">
        <div class="flex flex-row">
            <div>
                <h1 class="text-5xl mb-6 font-medium">Swift Transfer</h1>
                <p class="text-xl">Welcome to the new era of simplified money transfers. With SwiftTransfer you have the power to send money to your friends, family, or colleagues  in just a few clicks, wherever you are in the world.</p>
                <div class="text-xl">
                    <input class="border-2 rounded-lg border-purple-950 mt-6 pl-2 py-1" type="text">
                    <button class="btn btn-primary bg-purple-950 text-white px-5 py-1 rounded-lg ">
                        <span class="">Start now !</span>
                    </button>
                </div>
            </div>

            <img src="https://img.freepik.com/vecteurs-libre/concept-collegues-design-plat-pour-page-destination_23-2148296956.jpg">
        </div>
    </div>
{% endblock %}
