{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<ul>
{% for user in user_list %}
    <li>{{user.UserIdentifier}}</li>
{% endfor %}
</ul>
<p>You are {{app.user.UserIdentifier}}<p>

1's contacts :
{% for contact in userrcontacts %}
<li>{{contact.UserIdentifier}}</li>
{% endfor %}

1's groups :
{% for group in userrgroups %}
<li>{{group.name}}</li>
{% endfor %}
{% endblock %}
