{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<div id="showContact">
    Your contacts :

    {% if contacts is null %}
        <p>You don't have any contacts</p>
    {% else %}
        <ul>
        {% for contact in contacts %}
            <li>{{ contact.username }}<li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}
